{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if search_posts or search_gposts or search_chats%}
<h5 class="title-lg text-upper text-center">موارد یافت شده</h5>
<hr>
{% else %}
<h2 class="title-lg text-upper text-center">هیچ موردی یافت نشد!</h2>
{% endif %}

{% if search_posts %}
<section class="section brd-btm padd-box-sm">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">آخرین مطالب بلاگ</h2>
            <ul class="icon-list icon-list-col3 clearfix">
                {% for post in search_posts %}
                <li><span class="crt-icon crt-icon-about"></span>
                    <a href="{% url 'blog:post' post.id %}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<!-- .section -->
{% endif %}

{% if search_chats %}
<section class="section brd-btm padd-box-sm">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">آخرین گپ و گفت ها</h2>
            <ul class="icon-list icon-list-col3 clearfix">
                {% for chat in search_chats %}
                <li><span class="crt-icon crt-icon-about"></span>
                    <a href="{% url 'chat:chat' %}">{{ chat.topic }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<!-- .section -->
{% endif %}

{% if search_gposts %}
<section class="section brd-btm padd-box-sm">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">تازه های گالری</h2>
            <div class="padd-box-sm">
                <div class="cr-carousel" data-slick='{"slidesToShow": 3, "slidesToScroll": 3, "dots": true}'>
                    {% for post in search_gposts %}
                    {% for img in post.gallery_post_img.all %}
                    <div>
                        <img src="{{ img.image.url }}" alt="">
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div><!-- .cr-carousel -->
            </div><!-- .padd-box-sm -->
            </div><!-- .padd-box -->
        </div>
    </div>
</section>
<!-- .section -->
{% endif %}

{% endblock %}