{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% block content %}

<article class="post hentry">
    <div class="post-media">
        {% if post.youtube_link %}
        <div class="post-youtube">
            <iframe src="{{ post.youtube_link }}" allowfullscreen></iframe>
        </div>
        {% elif post.image %}
        <figure class="post-figure" style="height: 300px; width: 100%; background-image: url({{ post.image.url }})"></figure>
        {% endif %}
    </div>

    <div class="padd-box-sm">
        <header class="post-header text-center">
            <h1 class="post-title entry-title text-upper">{{ post.title }}</h1>
            <div class="post-header-info">
                <span class="posted-on">
                    <span class="screen-reader-text">ارسال در </span>
                    <a href="#" rel="bookmark">
                        <time class="post-date published" datetime="2016-07-04T11:33:08+00:00">{{ post.create.date | jformat:"%A %d %B %Y" }}</time>
                        <!-- <time class="post-date updated" datetime="2016-12-08T14:45:55+00:00"></time> -->
                    </a>
                </span>
                <span class="post-author vcard"><span class="post-line">|</span> توسط  <a class="url fn n" href="#" rel="author">{{ post.author.get_full_name }}</a></span>
            </div>
        </header>

        <div class="post-content entry-content editor clearfix clear-mrg">

            {{ post.content | safe }}

        </div>

        <footer class="post-footer">
            <div class="post-footer-top">
                <div class="post-footer-info">
                    <span class="post-cat-links">
                        <span class="">دسته بندی: </span>
                        <a href="#" rel="category tag">{{ post.category }}</a>
                    </span>
                    <span class="post-line">|</span>
                    <a href="" class="post-comments-count">{{ post.post_comment.count }} دیدگاه</a>
                </div>
            </div>

            <div class="post-footer-btm">
                <div class="post-tags">
                    <span class="screen-reader-text">برچسب ها </span>
                    {% for tag in post.tags.all %}
                    <a href="#" title="ایران" rel="tag">#{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </footer>
    </div>
</article><!-- .post -->

{% if post.random_post %}
<nav class="post-nav" role="navigation">
    <div class="padd-box-sm brd-btm">
        <h2 class="screen-reader-text">سایر مطالب</h2>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                {% with random_post=post.random_post %}
                <div class="post-nav-prev">
                    <a href="{% url 'blog:post' random_post.id %}" rel="prev">
                        <span class="text-center text-muted">مقاله تصادفی</span>
                        <figure><img src="{{ random_post.image.url }}" alt="{{ random_post.title }}"></figure>
                        <strong class="text-upper text-center">{{ random_post.title|slice:40 }}...</strong>
                    </a>
                </div>
                {% endwith %}

            </div>

            <div class="col-sm-6 col-sm-offset-0 col-xs-6">
                {% with random_post=post.random_post %}
                <div class="post-nav-next">
                    <a href="{% url 'blog:post' random_post.id %}" rel="next">
                        <span class="text-center text-muted">مقاله تصادفی</span>
                        <figure><img src="{{ random_post.image.url }}" alt="{{ random_post.title }}"></figure>
                        <strong class="text-upper text-center">{{ random_post.title|slice:40 }}...</strong>
                    </a>
                </div>
                {% endwith %}
            </div>
        </div>
    </div>
</nav><!-- .post-nav -->
{% endif %}

<div id="comments" class="comments-area">
    <div class="padd-box-sm">
        <h2 class="title text-upper">دیدگاه‌ها</h2>
        <a class="toggle-link" href="#code-">
            <p>
                <span class="crt-icon crt-icon-question-circle"></span>
                     برای ارسال دیدگاه کلیک کنید
            </p>
        </a>
        <div id="code-" class="toggle-cont">
            <!-- Post Form: Logged Out -->
            <form action="{% url 'blog:comment' post.id %}" method="post" id="commentform2" class="comment-form" novalidate=""> 
                <p><small style="color: red;">پرکردن فیلدهای دارای * الزامی است.</small></p>
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label" for="author">نام شما *</label>
                    <div class="form-item-wrap">
                        <input id="author" class="form-item" name="name" type="text" required>
                    </div>
                </div>
    
                <div class="form-group">
                    <label class="form-label" for="email">ایمیل</label>
                    <div class="form-item-wrap">
                        <input id="email" class="form-item" name="email" type="email" dir="ltr" required>
                    </div>
                </div>
    
                <div class="form-group">
                    <label class="form-label" for="subject">وبسایت</label>
                    <div class="form-item-wrap">
                        <input id="subject" class="form-item" name="site" type="text">
                    </div>
                </div>

                <input type="hidden" name="parent_id" value="">

                <div class="form-group">
                    <label class="form-label" for="message">دیدگاه شما *</label>
                    <div class="form-item-wrap">
                        <textarea id="message" class="form-item" name="content" maxlength="500" required></textarea>
                    </div>
                </div>
                
                <!-- <div class="form-group">
                    <label class="form-label" for="image-form">عکس آواتار</label>
                    <div class="form-item-wrap">
                        <input class="form-item" id="image-form" name="image" type="file">
                    </div>
                </div> -->
                <div class="form-submit form-item-wrap">
                    <input class="btn btn-primary btn-lg" type="submit" value="ارسال">
                </div>

            </form>
            <hr>
        </div><!-- .toggle-cont -->


        <ol class="comment-list clear-list">
            {% for comment in post.post_comment.all %}
            <li class="comment bypostauthor">
                <article class="comment-body">
                    <header class="comment-header">
                        <div class="comment-author vcard">
                            <img alt="" src="{{ comment.image.url }}" class="avatar avatar-58 photo" height="58" width="58">
                            {% if comment.user.get_full_name %}
                            <strong class="fn">
                                {{ comment.user.get_full_name }}
                                </strong>
                                {% else %}
                                <strong>
                                {{ comment.name }}
                                {% endif %}
                            </strong>
                        </div>

                        <div class="comment-date">
                            در <time datetime="{{ comment.create }}">{{ comment.create|jformat:"%d %B %Y ساعت %H:%M" }}</time>
                        </div>
                    </header>

                    <div class="comment-content clear-mrg">
                        <p>
                            {{ comment.content }}
                        </p>
                    </div>
                    <div id="code-{{ post.id }}{{ comment.id }}" class="toggle-cont">
                        <!-- Post Form: Logged Out -->
                        <form action="{% url 'blog:comment' post.id %}" method="post" id="commentform2" class="comment-form" novalidate=""> 
                            {% csrf_token %}

                            <input type="hidden" name="name" value="{{ user.get_full_name }}">
                            <input type="hidden" name="parent_id" value="{{ comment.id }}">

                            <div class="form-group">
                                <div class="">
                                    <textarea id="message" class="form-item" name="content" maxlength="350" required></textarea>
                                </div>
                            </div>
                
                            <div class="form-submit form-item-wrap">
                                <input class="btn btn-primary btn-lg" type="submit" value="ارسال پاسخ">
                            </div>

                        </form>
                     </div>
                    <footer class="comment-footer">
                        {% if user.is_authenticated %}
                        <div class="comment-links">
                            <a class="comment-reply-link toggle-link" rel="nofollow" href="#code-{{ post.id }}{{ comment.id }}" aria-label="Reply to {{ comment.name }}">پاسخ</a>
                        </div>
                        {% endif %}
                    </footer>
                </article><!-- .comment-body -->
                <ol class=" clear-list">
                    {% for reply in comment.comment_reply.all %}
                    <li class="children">
                        <article class="comment-body">
                            <header class="comment-header">
                                <div class="comment-author vcard">
                                    <img alt="" src="{{ reply.image.url }}" srcset="{% static 'images/uploads/avatar/avatar-116x116-default-2x.jpg' %} 2x" class="avatar avatar-58 avatar-default photo" height="58" width="58">
                                    {% if reply.user.get_full_name %}
                                    <strong class="fn">
                                        {{ reply.user.get_full_name }}
                                        </strong>
                                        {% else %}
                                        <strong>
                                        {{ reply.name }}
                                        {% endif %}
                                    </strong>
                                </div>
        
                                <div class="comment-date">
                                    در <time datetime="{{ reply.create }}">{{ reply.create|jformat:"%d %B %Y ساعت %H:%M" }}</time>
                                </div>
                            </header>

                            <div class="comment-content clear-mrg">
                                <p>
                                    {{ reply.content }}    
                                </p>
                            </div>
                        </article><!-- .comment-body -->
                    </li><!-- .comment -->
                    {% endfor %}
                </ol><!-- .children -->
            </li><!-- .comment -->
            {% endfor %}

        </ol><!-- .comment-list -->
    </div><!-- .padd-box-sm -->
</div><!-- #comments -->

{% endblock %}