{% load static %}

<section class="section">
    <div class="crt-card crt-card-wide bg-primary text-center">
        <div class="crt-card-avatar">
            <img class="avatar avatar-195" src="{% static 'images/uploads/avatar/avatar-195x195.png' %}" width="195" height="195" alt="">
        </div>
        <div class="crt-card-info">
            <h2>سایلنت گیک</h2>
            <p class="text-muted">طارق نادریم و اینجا دانسته ها و ندانسته هامو به اشتراک میزارم!</p>
            <ul class="crt-social clear-list">
                <li><a href="https://www.youtube.com/channel/UCcxt4znIxRUVxBGQuZfjx7g" target="_blank"><span class="crt-icon crt-icon-youtube-play"></span></a></li>
                <li><a href="https://twitter.com/taregh_n" target="_blank"><span class="crt-icon crt-icon-twitter"></span></a></li>
                <li><a href="https://www.instagram.com/silentgeek_ir/" target="_blank"><span class="crt-icon crt-icon-instagram"></span></a></li>
                <li><a href="https://t.me/silentgeek_ir" target="_blank"><span class="crt-icon crt-icon-telegram"></span></a></li>
            </ul>
        </div>
    </div>
</section>